/*
	
	***************************************************
	*												  *
	*       PreRequisite Name - CountryGeoData		  *
	*												  *
	***************************************************
   
   Purpose : Insert Defualt Geo Data For Dashboard
   For New Cities/Countries Update this Script

 */


/****** Object:  Table [Common].[COUNTRY_INFO]    Script Date: 6/13/2017 6:56:24 PM ******/

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'Common.COUNTRY_INFO') AND type in (N'U'))
BEGIN
DROP Table [Common].[COUNTRY_INFO]
END
GO


CREATE TABLE [Common].[COUNTRY_INFO](
	[COUNTRY] [varchar](50) NULL,
	[COUNTRY_CODE] [varchar](10) NULL,
	[STATE_NAME] [varchar](50) NULL,
	[STATE_CODE] [varchar](50) NULL,
	[CITY_NAME] [varchar](50) NULL,
	[CITY_CODE] [varchar](50) NULL,
	[LATITUDE] [varchar](20) NULL,
	[LONGITUDE] [varchar](20) NULL,
	[SITE_NUMBER] [varchar](3) NULL
) ON [PRIMARY]

GO
INSERT [Common].[COUNTRY_INFO] ([COUNTRY], [COUNTRY_CODE], [STATE_NAME], [STATE_CODE], [CITY_NAME], [CITY_CODE], [LATITUDE], [LONGITUDE], [SITE_NUMBER]) VALUES (N'Australia', N'AU', N'South Australia', N'SA', N'Adelaide', N'Adelaide', N'-34.9284989', N'138.6007456', N'123')
INSERT [Common].[COUNTRY_INFO] ([COUNTRY], [COUNTRY_CODE], [STATE_NAME], [STATE_CODE], [CITY_NAME], [CITY_CODE], [LATITUDE], [LONGITUDE], [SITE_NUMBER]) VALUES (N'Australia', N'AU', N'South Australia', N'SA', N'Adelaide', N'Adelaide', N'-34.9284989', N'138.6007456', N'989')
INSERT [Common].[COUNTRY_INFO] ([COUNTRY], [COUNTRY_CODE], [STATE_NAME], [STATE_CODE], [CITY_NAME], [CITY_CODE], [LATITUDE], [LONGITUDE], [SITE_NUMBER]) VALUES (N'Australia', N'AU', N'South Australia', N'SA', N'Adelaide', N'Adelaide', N'-34.9284989', N'138.6007456', N'328')
GO
