<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <connectionStrings>
    <!--UserMatrix Server Details - Update the connectionString-->
    <add name="UserMatrixDB" connectionString="Data Source=10.2.152.137\sql2012;Integrated Security=False;User ID=sa;Password=abc@1234;Initial Catalog=UM140DB_AMR" />
  </connectionStrings>
</configuration>
