<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <!--UserMatrix Server Details - Update the connectionString-->
    <add name="UserMatrixDB" connectionString="Data Source=10.2.152.137\sql2012;Integrated Security=False;User ID=sa;Password=abc@1234;Initial Catalog=UM140DB_AMR" />
  </connectionStrings>
  <appSettings>
    <!-- Logging Configurations-->
    <add key="LogFileName" value="MigrateLog" />
    <add key="LogFileTimeStampPattern" value="yyyyMMdd_HHmmss" />
    <add key="LogFilePath" value="" />
    <!--If Empty Current Directory-->
    <add key="BulkCopySize" value="5000" />
    <add key="MaxQueueSize" value="3" />
    <!--Reporting Configurations-->
    <add key="IsReportEnabled" value="True" />
    <!--PreRequisites Configurations-->
    <add key="RunPreRequisites" value="True" />
    <!--Database Check-->
    <add key="AuthDBCheck" value="Site.Site"/>
    <add key="LegacyDBCheck" value="GAM.ASSET"/>
    <add key="AssetDBCheck" value="DataManagement.Asset"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>