<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <!-- Logging Configurations-->
    <add key="LogFileName" value="MigrateLog"/>
    <add key="LogFileTimeStampPattern" value="yyyyMMdd_HHmmss"/>
    <add key ="LogFilePath" value=""/> <!--If Empty Current Directory-->

    <add key="BulkCopySize" value="5000"/>
    <add key="MaxQueueSize" value="3"/>
  </appSettings>
</configuration>
